/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ----- RESET ----- */

html, body, header, footer, section, article, div, span,
strong, a, img, p, h1, h2, h3, time, ul, li, small, input, select, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


table {
/*  border-collapse:separate;*/
  border-spacing:0px;
}
/* ----- ELEMENTS ----- */

body {
  font-family: sans-serif;
/*  background: transparent;*/
  font-size: 16px;
  line-height: normal;
  background: #EEE;
/*  background: #F8F8F4;*/
}


a:hover {
  color: #AAA;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  background: #FFF;
  width: 460px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #CCC;
  border-radius:10px;
}

h1 {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  padding: 20px;
  color: black;
}

form {
  width: 300px;
  background: #EEE;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
}


.user-info {
  font-family: "Economica";
  width: 300px;
  background: #EEE;
  padding: 20px;
  margin: auto;
}

label {
  display: block;
/*  width: 190px;
  margin-right: 20px;
  padding: 5px 0px;
  padding-left: 5px;
  border: 1px solid #CCC;
  border-radius: 2px;*/
}

input[type="text"] {
  width: 275px;
  padding: 10px;
  border: 1px solid black;
  border-bottom: 0px;
/*  position: relative;
  background: #EEE;
  width: 190px;
  padding: 5px;
  border-radius: 2px;
  left: 4px;*/
}

input[type="submit"] {
  width: 297px;
  border: 1px solid black;
  padding: 10px 0px;
  background: #CCC;
/*  background: #EEE;
  padding: 3px;
  border: 1px solid #CCC;
  border-radius: 2px;
  width: 80px;
  color: #AAA;*/
}

input[type="submit"]:hover {
  background: #DDD;
}



div.user-info {
  background: white;
}

div.user-info > p.name {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 30px;
  text-align: center;
}

div.user-info > div.summary {
  margin-bottom: 20px;
}

table{
  background: white;
  margin: 10px 0px;
  font-family: "Economica";
}

tr.head td {
  border: 1px solid black;
}

tr:hover{
  background: #EEE;  
}

td {
  width: 40px;
  padding: 5px;
  text-align: center;
  left: -1px;
}

td.timeoff {
  color: red;
}

div.note {
  font-size:12px;
}

p.error {
  background: red;
  text-align: center;
  color: white;
}

div.square {
  height: 13px;
  width: 10px;
  background: green;
  display: inline-block;
  opacity:0.3
  color: transparent;
}

div.square:hover {
  width: 70px;
  color: blue;
}


/*
.main {
  background: #FFF;
  width: 760px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #CCC;
  border-radius:10px;
}

h1 {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  color: #AAA;
}

form {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 20px;
  margin: 20px 0px;
}

label {
  width: 190px;
  margin-right: 20px;
  padding: 5px 0px;
  padding-left: 5px;
  border: 1px solid #CCC;
  border-radius: 2px;
}

input[type="text"] {
  position: relative;
  background: #EEE;
  width: 190px;
  padding: 5px;
  border-radius: 2px;
  left: 4px;
}

input[type="submit"] {
  background: #EEE;
  padding: 3px;
  border: 1px solid #CCC;
  border-radius: 2px;
  width: 80px;
  color: #AAA;
}

input[type="submit"]:hover {
  background: #CCC;
}

div.user-info {
  margin: 40px 20px 20px 20px;
}

table{
  background: white;
  margin: 10px 0px;
}

tr.head td {
  border: 1px solid black;
}

tr:hover{
  background: #EEE;  
}

td {
  width: 40px;
  padding: 5px;
  text-align: center;
  left: -1px;
}

td.timeoff {
  color: red;
}

p.error {
  background: red;
  text-align: center;
}

div.empty {
  width: 760px;
  padding: 20px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  font-size: 100px;
}


p.name {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
}

div.note {
  font-size:12px;
}

*/